body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #84b986;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.sec {
  width: 100%;
  min-height: 100vh;
  /* display: flex; */
  align-items: center;
  background: url(image/national-cancer-institute-701-FJcjLAQ-unsplash.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

main {
  padding: 20px;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input,
.form-container select,
.form-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

.card {
  width: 300px;
  height: 200px;
  background-color: green;
  padding: 20px;
  text-align: center;
  border: 2px solid #000;
  display: inline-block;
  margin: 10px;
  position: relative;
  left: 40px;
}

#site-name {
  margin: 0;
  margin-left: 30px;
}

.card img {
  width: 100px;
  height: 50px;
}

footer {
  background-color: #84b986;
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}
